*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav p{
    font-size:12px;
    position: absolute;
    bottom: 9px;
    left: 35px;
}

nav>div{
    padding: 10px;
    display: flex;
    align-items: center;
    position: sticky;
    
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 100vw;
}

#nav-head{
    width: 13rem;
    padding: 10px;
    border-left: 1px solid rgba(0, 0, 0, 0.37);
    padding-left: 20px;
    margin-left: 5%; 
    
}

nav a{
    margin: 0 30px 0 3px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    

}

nav a:hover{
    color: rgb(0, 201, 201);
}

header{
    width: 100vw;
    height: 82vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.175);
}
header>img{
  transition-duration:2s ;
    width: 100%;
    height: 85vh;
    
    
}

header>div{
    position:absolute;
    padding: 20px;
    width: 400px;
    left: 250px;
    right: 0;
    top: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    height: 60vh;
    background-color: rgba(240, 248, 255, 0);
    border-radius: 20px;
    box-shadow: rgba(184, 184, 184, 0.284) 0px 30px 60px -12px inset, rgba(222, 222, 222, 0.421) 0px 18px 36px -18px inset;
}


header>div>img{
    width: 80%;
}

header select{
    width: 90%;
    padding: 10px;
    font-weight: 100px;
    font-size: 1.2rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    margin: 40px 20px 0px 20px;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    box-shadow: rgba(218, 218, 218, 0.356) 0px 30px 60px -12px inset, rgba(233, 231, 231, 0.445) 0px 18px 36px -18px inset;

}
header input{
    padding: 10px;
    float: left;
    font-weight: 100px;
    font-size: 1.2rem;
    margin: 30px;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
    border: none;
    box-shadow: rgba(218, 218, 218, 0.301) 0px 30px 60px -12px inset, rgba(233, 231, 231, 0.233) 0px 18px 36px -18px inset;

}

header>div>div{
    margin-top: 2em;
    border-bottom: 1px solid rgb(212, 212, 212);
    width: 40%;
    padding-bottom: 5px;
    display: inline-block;
}
#btn{
    display: block;
    margin: 3em auto;
    border: none;
    width: 50%;
    padding: 15px 0;
    background-color: rgb(81, 81, 80);
    color: rgb(233, 233, 233);
    font-weight: bold;
    letter-spacing: 3px;
    font-size: 1.3rem;
    box-shadow: rgba(164, 164, 164, 0.627) 0px 1px 2px 0px, rgba(196, 196, 196, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
}

header>div>h3, header>div>h2, header p , header h3,header h1{
    color: rgb(219, 217, 217);
}

header>div>h2{
    margin: 2vh;
}
header>div>h1{
    margin-top: 2vh;
}

#head1{
    position: absolute;
    top: 10px;
    right: 20%;
    font-weight: 100;
    letter-spacing: 3px;
    color: white;
    box-shadow: rgba(218, 218, 218, 0.497) 0px 30px 60px -12px inset, rgba(233, 231, 231, 0.445) 0px 18px 36px -18px inset;
    padding: 5px;
    
}
.para{
    display: none;
}
#section-1>h1{
    margin: 80px 0;
   text-align: center;
    font-weight:bolder;
    font-size:2rem;
}
#section-1>div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    width: 70%;
    margin: auto;
    

}


#section-1>div img{
  width:80px;
    padding: 15px;
    border-radius: 50%;
    border: 7px solid grey;
    margin-bottom: 20px;
    box-shadow: rgba(14, 30, 37, 0.418) 0px 2px 4px 0px, rgba(14, 30, 37, 0.747) 0px 2px 16px 0px;
}

#section-1 img:hover{
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    width: 100px;
    background-color: rgb(11, 184, 175);
    
    border: 7px solid rgb(96, 99, 99);
    cursor: pointer;
}

#section-1 h3 , #section-1 p{
    margin: 10px;

}

#section-1 p{
    color: grey;
    line-height: 25px;

}

#section-2{
    width: 100vw;
    
}

#section-2 h1{
    margin: 30px 0;

    font-size: 2rem;
 
}
#section-2>div{
    width: 70%;
    margin: 70px auto;

}
#section-2>div>div{
    margin: 30px 0;
    border-bottom: 1px solid rgba(55, 55, 55, 0.377);
    padding:10px 20px;
    position: relative;
    animation-delay: 2s;
    cursor: pointer;

}
#section-2>div img{
    position: absolute;
    left: -1%;
    width: 13px;
    top: 12px;

}
#section-2 p{
    line-height: 25px;
    color: grey
}
#section-3{
    margin-top: 100px;
    padding: 20px;
    background: rgb(239, 239, 239);
    width: 100vw;

}
#section-3>div{
    width: 75%;
    margin:70px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}
#section-3>div:nth-child(1)>img{
width: 10rem;
}
#section-3>h1{
    margin:auto;
    margin-left: 12vw;
}
#section-3 h3 , #section-3 p{
    margin: 10px 0 ;
}

#section-4>div{
    display: flex;
    width: 85%;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:30px auto;
    padding:20px 0 ;
    background-color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
#section-4>div>div{
    width: 20%;
    text-align: center;
}
#section-4>div>div>img{
    width: 100px;

    padding-bottom: 30px;
}
#section-4>h1{
    margin: 30px 190px;
    color: rgb(97, 97, 97);
}

  .footer {
    width: 100%;
    position: relative;
    height: auto;
    background-color: #070617;
  }
  .footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
  }
  .footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 12px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 0.452);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
  }
  .footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer .col ul li {
    color: #999999;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
  }
  .social ul li {
    display: inline-block;
    padding-right: 5px !important;
  }
  
  .footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
  }
  .clearfix {
    clear: both;
  }

  @media only screen and (max-width:480px){
    #section-1>div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
        width: 70%;
        margin: auto;
    }
  }
  @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .social {
      width: 1000px;
      display: block;
    }
    .social h1 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h1 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  }

  @media screen and (max-width:466px){
   
    header>div{
      position: absolute;
      top: 20%;
      width: 100%;
      height: 100px;
      margin-bottom: 20px;
      left: 50%;

    }
    nav img, nav p{
      display: none;
    }
   
    
  }













